@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding-top: 20px;
    position: relative;
    left: 30%;
    top: 0;
    max-width: 520px;
    width: 100%;
    text-align: center;

}
.container img {
    width: 250px;
    height: 180px;
}
.container .idioma{
    padding: 2px;
    margin-top: 15px;
}
.container .imagenes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}